{:paths ["src" "test" "resources"]
 
 :deps {org.clojure/clojure                     {:mvn/version "1.10.3"}
        com.google.cloud/google-cloud-datastore {:mvn/version "1.106.5-sp.1"}
        metosin/malli                           {:mvn/version "0.5.1"}
        borkdude/sci                            {:mvn/version "0.2.5"}}
 
 :aliases {:dev 
           {}
           
           :test 
           {:extra-deps {lambdaisland/kaocha    {:mvn/version "1.0.861"}
                         org.clojure/test.check {:mvn/version "0.10.0-alpha4"}}}}}
